{% extends "learning_logs/base.html" %}

{% block content %}

    <p>Topics</p>

    <ul>
        {% for topic in topics %}                                           <!-- Use a template tag to loop through the list -->
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">
                    {{ topic }} </a>
            </li>
        {% empty %}                                                         <!-- This checks wehther the list is empty -->
            <li>No topics have been added yet</li>
        {% endfor %}                                                        <!-- In a template, every for loop needs a closing tag -->
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>

{% endblock content %}